@import url('https://fonts.cdnfonts.com/css/trajan-pro');
.less_margin {
	margin: 5px !important;
	font-family: 'Trajan Pro', sans-serif;
}
.footer-image {
	height: 100% !important;
	width: auto !important;
}
body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}
main {
    flex: 1 0 auto !important;
}