.collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li {
     margin: 0!important;;
     border: 0!important;
     background: #fff;
}
.less_margin_header {
     margin: 0px !important;
     font-family: 'Trajan Pro', sans-serif;
}
.nav-logo {
     width: auto !important;
     height: 100% !important;
}
.sidenav-photo {
     background-color: white;
}
.name,.email {
     text-align: left !important;
     font-size: 87%;
     word-break: break-word !important;
}
.material-icons {
     cursor: pointer;
}
.small-modal {
     width: 30% !important;
     height: auto !important;
     max-height: 80% !important;
     min-height: 1% !important;
     margin-top: -2%;
     border-radius: 8px;
}
.small-wide-modal {
     width: 45% !important;
     height: auto !important;
     max-height: 80% !important;
     min-height: 1% !important;
     margin-top: -2%;
     border-radius: 8px;
}
.full-modal {
     margin-top: -5% !important;
     width: 100% !important;
     height: 100% !important;
     max-height: 100% !important;
     min-height: 100% !important;
     z-index: 100000 !important;
     box-shadow: none !important;
     background: rgba(50, 50, 50, 0.8) !important;
}
.nav-header {
     padding: 10px !important;
}
.sticky_nav {
     position: fixed !important;
     top: 0 !important;
     width: 100% !important;
     background-color: yellow !important;
}
.file_object::-webkit-scrollbar{
/*     display: none !important;*/
}
